body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(36,36,40);
}
.main-header-container{
    background: linear-gradient(180deg, rgba(36,36,40,1), rgba(255, 255, 255, .1));;
    width: 100vw;
}
.nav-bar{
    padding: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 250px;
    font-size: 1em;
}
.nav-bar-ul li{
    display: inline;
}
.nav-bar-ul li a{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-bar-ul li a:hover{
    color: #ffdd95;;
}
.first-container img{
    width: 220px;
    height: 80px;
    padding-bottom: 30px;
}
.first-container a{
    color: rgb(143, 142, 142);
}
.first-container a:hover{
    color: #ffdd95;;
}
.header-containers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-container{
    margin: 60px;
    width: 600px;
    margin-left: 200px;
}
.first-container input{
    width: 530px;
    height: 60px;
    border-radius: 100px;
    border: none;
    padding: 20px;
}
.first-container button{
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin-left: 20px;
    border-radius: 50px;
    border: none;
    background-color: #ffdd95;;
}
.first-container button:hover{
    background-color: rgb(235, 235, 183);
    cursor: pointer;
}
.first-container p{
    margin-top: 25px;
    width: 400px;
}
.first-con-con{
    display: flex;
}
.second-container img{
    width: 600px;
    height: auto;
    margin-right: 100px;
    transform: translateY(15px);
}